/* 
==================
Fonts
==================
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*
===============
Variables
=============== 
*/

:root {
  /*dark shades of primary color*/

  --color-primary-1: hsl(205, 86%, 17%);
  --color-primary-2: hsl(205, 77%, 17%);
  --color-primary-3: hsl(205, 72%, 37%);
  --color-primary-4: hsl(205, 63%, 48%);

  /* primary/main color*/
  --color-primary-5: hsl(205, 78%, 60%);

  /* lighter shades of primary color*/
  --color-primary-6: hsl(205, 89%, 70%);
  --color-primary-7: hsl(205, 90%, 76%);
  --color-primary-8: hsl(205, 90%, 76%);
  --color-primary-9: hsl(205, 90%, 76%);
  --color-primary-10: hsl(205, 90%, 76%);

  /* darkest grey -used for headings*/
  --color-grey-1: hsl(209, 61%, 16%);
  --color-grey-2: hsl(211, 39%, 23%);
  --color-grey-3: hsl(209, 34%, 30%);
  --color-grey-4: hsl(209, 61%, 16%);
  /*grey used for paragraps*/
  --color-grey-5: hsl(210, 22%, 49%);
  --color-grey-6: hsl(209, 23%, 60%);
  --color-grey-7: hsl(211, 27%, 70%);
  --color-grey-8: hsl(210, 31%, 80%);
  --color-grey-9: hsl(212, 33%, 89%);
  --color-grey-10: hsl(210, 36%, 96%);
  --color-white: #fff;
  -color-red-dark: hsl(360, 67%, 44%);
  -color-red-light: hsl(360, 71%, 66%);
  -color-green-dark: hsl(125, 67%, 44%);
  -color-green-light: hsl(125, 71%, 66%);
  --color-secondary: hsla(182, 63%, 54%);
  --color-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
==============================
GLOBAL STYLES
==============================
*/



*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--color-grey-10);
  color: var(--color-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--color-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--color-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--color-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--color-white);
  background: var(--color-black);
}
.btn-white {
  color: var(--color-white);
  border-color: var(--color-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--color-white);
  color: var(--color-secondary);
}

/* section */
.section {
  padding-bottom: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 5rem auto;
  max-width: 1170px;
}



main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* 
===========================
Countdown Timer
=============================
 */
.gift-img {
  margin-bottom: 2rem;
}

.gift-info h3 {
  text-transform: capitalize;
  color: var(--color-primary-3);
}

.gift-info p {
  color: var(--color-grey-6);
}

.date {
  color: var(--color-grey-5);
  font-size: 0.85rem;
}

@media screen and (min-width: 992px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 3rem;
    width: 95vw;
  }
  .gift-img {
    margin-bottom: 0;
  }
}

.gift-info p {
  margin: 2rem 0;
}
.deadline {
  display: flex;
}

.deadline-format {
  background: var(--color-grey-1);
  color: var(--color-white);
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  place-items: center;
  text-align: center;
}

.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.deadline h4:not(.expired) {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  letter-spacing: var(--spacing);
}
